body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  gap: 2rem;
  font-family: "Fjord One", serif;
}

#game-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);
  gap: 10px;
  padding: 2%;
}

.cell {
  border: 1px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell .content {
  height: 100%;
  width: 100%;
}

.symbol-img {
  width: 100%;
  height: 100%;
}
